body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 0.7291vw;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat-v15-latin-regular.woff') format('woff'),
    url('./fonts/montserrat-v15-latin-regular.woff2') format('woff2'),
    url('./fonts/montserrat-v15-latin-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('./fonts/montserrat-v15-latin-700.woff') format('woff'),
    url('./fonts/montserrat-v15-latin-700.woff2') format('woff2'),
    url('./fonts/montserrat-v15-latin-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/noto-sans-v12-latin-regular.woff') format('woff'),
    url('./fonts/noto-sans-v12-latin-regular.woff2') format('woff2'),
    url('./fonts/noto-sans-v12-latin-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./fonts/noto-sans-kr-v13-latin-500.woff') format('woff'),
    url('./fonts/noto-sans-kr-v13-latin-500.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR Bold';
  src: url('./fonts/noto-sans-kr-v13-latin_korean-700.woff') format('woff'),
    url('./fonts/noto-sans-kr-v13-latin_korean-700.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-v27-latin-regular.woff') format('woff'),
    url('./fonts/roboto-v27-latin-regular.woff2') format('woff2'),
    url('./fonts/roboto-v27-latin-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
